// Mes variables //
@import "./utils/variables";

//Mes polices d'écriture //
@import "./Base/fontface";

// Mes keyframes //
@import "./utils/keyframes";


body{
    width: 100%;
    main{
      margin: auto;
    }
    h2{ 
        padding-top: 25px;
        padding-left: 15px;
        font-family: 'Shrikhand-Regular';  
    }
    h3{
        font-family: 'Shrikhand-Regular';  
    }
    h4{
        font-family: 'robotobold';
        font-size: 16px;
        margin: 0;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    
      a{
        color: black;
        text-decoration: none;
        font-family:'robotobold';
      }
  }
  

  header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
    .fa-arrow-left{
        position: absolute;
        left: 0;
        top: 24px;
        font-size: 20px;
        color: #353535;
        padding-left: 20px;
        
    }
    .logo{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
         padding-bottom: 10px;
         }  
         .logo__image{
            width: 164px;
         }
  }        

  .section__imagedefond{
    width: 100%;
    height: 100%;
    object-fit: cover;
    .image__le-delice-des-sens{
        width: 100%;
        object-fit: cover; 
        height: 294px;
    }
  }   

  #menu{
    background-color: #f6f6f6;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: -36px;
  width: 100%;
  position: relative;
    .menu__titre{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
  }

  .entrees{
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    .entrees__titre{
        color: #535353;
        font-family: 'robotoregular';
        font-size: 20px;
        }
        .border1{
            border-bottom: 4px solid $couleurtertiaire;
        }
        .entrees__texttartare, .entree__textvelouté, .entree__textsoupe {
            background-color: #ffffff;
            box-shadow: 1px 1px 10px 4px lightgrey;
            border-radius: 20px;
            margin-bottom: 15px;
            height: 70px;               
            position: relative;
            cursor: pointer;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          }
          #case-1{
            animation-delay: 0.1s;
          }
          #case-2{
            animation-delay: 0.2s;
          }
          #case-3{
            animation-delay: 0.3s;
          }
          .controlopacity{
            animation: opacity 1s both;
          }
                .textetprix{
                    margin-top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    -webkit-box-pack: justify;
                    -webkit-box-align: center;
                    .description{
                        margin:0px;
                        padding-left: 10px;
                        font-family: 'robotoregular';
                        font-size: 13px;
                    }
                }
                
    }

    .plats{
        border-radius: 25px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        .plats__titre2{
            color: #535353;
            font-family: 'robotoregular';
            font-size: 20px;
        }
        .border2{
            border-bottom: 4px solid $couleurtertiaire;
            }
            #case-4{
              animation-delay: 0.4s;
            }
            #case-5{
              animation-delay: 0.5s;
            }
            #case-6{
              animation-delay: 0.6s;
            }
            .controlopacity{
                animation: opacity 1s both;
              }
            .plats__textcoquille, .plats__textmagret, .plats__textpigeonneau{
                background-color: #ffffff;
                box-shadow: 1px 1px 10px 4px lightgrey;
                border-radius: 20px;
                margin-bottom: 15px;
                height: 70px;               
                position: relative;
                cursor: pointer;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
              }
              

        } 

        .desserts{
            border-radius: 25px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 35px;
            .desserts__titre3{
                color: #535353;
                font-family: 'robotoregular';
                font-size: 20px;
               } 
               .border3{
                border-bottom: 4px solid $couleurtertiaire;
            }
                    #case-7{
                    animation-delay: 0.7s;
                    }
                    #case-8{
                    animation-delay: 0.8s;
                    }
                    #case-9{
                    animation-delay: 0.9s;
                    }
                    .controlopacity{
                        animation: opacity 1s both;
                      }
                      .desserts__textpetales, .desserts__textfondant, .desserts__textmillefeuille{
                        background-color: #ffffff;
                        box-shadow: 1px 1px 10px 4px lightgrey;
                        border-radius: 20px;
                        margin-bottom: 15px;
                        height: 70px;               
                        position: relative;
                        cursor: pointer;
                        overflow: hidden;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                       }
          }

    #commander{
      display: flex;
      justify-content: center;
      height: 115px;
      .commander__phrase{
        background: linear-gradient($couleursecondaire, $couleurprimaire);
        font-family: 'robotobold';
        display: flex;
        padding: 0px 55px 0px 60px;
        border-radius: 25px;
        color: #f7ecfa;
        cursor: pointer;
    }
        .commander__phrase:hover{
        opacity: 0.9;
        }
          }

    footer{
     padding-left: 20px;
     height: 223px;
     background-color:#353535;
     .hyperlien__proposer{
        color: $couleurlienfooter;
      }
      .hyperlien__devenir{
        color: $couleurlienfooter;
      }
      .hyperlien__mention{
        color: $couleurlienfooter;
      }
      .hyperlien__contact{
        color: $couleurlienfooter;
      }
      .footer__logo{
        font-family:'Shrikhand-Regular';
        color: #d5d5d5;
        padding-top: 30px;
        font-size: 20px;
        margin: 0px;
      }
      .footer_ul{
        color: #d5d5d5;
        text-decoration: none;
        list-style: none;
        font-size: 20px;
        padding-left: 0px;
      }
      .fa-utensils{
        font-size: 16px;
        padding-right: 9px;
      }
      .fa-handshake-angle{
        padding-right: 4px;
        font-size: 16px;
      }
      li{
        padding-bottom: 7px;
      }   
        }




          .textetprix{
            margin-top: -10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            -webkit-box-pack: justify;
            -webkit-box-align: center;
            .description{
                margin:0px;
                padding-left: 10px;
                font-family: 'robotoregular';
                font-size: 13px;
            }
        }
        .textedumenu{
            white-space: nowrap;
            overflow: hidden;
          }
          .prixmenu{
            padding-right: 11px;
            padding-top: 30px;
            .prix{
                font-family: 'robotobold';
            }
          }

.validation:hover .prixmenu{
    padding-right: 70px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  .validation .validation__box{
    display: none;
    position: absolute;
    background: $couleurtertiaire;
    border-radius: 0 15px 15px 0;
    right: 0px;
    padding: 0 13px;
    height: 100%;
  }
  
  .validation:hover .validation__box{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    animation: slide-left 0.5s ease;
    transform-origin: right;
  }
  
  .validation .validation__box .fa-circle-check{
    font-size: 30px;
    color: white;
    transform: rotate(180deg);
    animation: rotate 0.5s both;
  }
  
  .hiddencard .denomination {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .fa-circle-check{
    font-weight: 900;
    -webkit-font-smoothing:antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  .fa-circle-check::before{
    content: "\f058";
  }

  .checkbox-like {
    font-size: 30px;
    padding-right: 20px;
    padding-top: 30px;
    cursor: pointer;
  }
  
  .checkbox-like.checkbox-like--position {
    position: initial;
    margin-top: 20px;
  }
  
  .checkbox-like input[type="checkbox"]:checked ~ .unchecked {
      display: none; 
  }
  
  .checkbox-like input[type="checkbox"]:checked ~ .checked {
      display: inline-block;
      color: rgba(255, 255, 255, 0);
  }
  
  .checkbox-like input[type="checkbox"], .checkbox-like .checked {
      display: none;
      animation: like 1s;
      animation-fill-mode: forwards;
  }

  @media only screen and (min-width: 900px) {
    #page{
      max-width: 2560px;
      width: 100%;
      height: 100%;
    }
    .menu__sanstitre{
      display: flex;
      justify-content: space-between;
        .entrees, .plats, .desserts {
          width: 30%;
        }
        .entrees, .plats{
          padding-right: 0px;
        }
    }
    footer{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
          }         
        }

  /* Sections
             ========================================================================== */
          
          /**
           * Remove the margin in all browsers.
           */
          
           body {
            margin: 0;
          }
          
          /**
           * Render the `main` element consistently in IE.
           */
          
          main {
            display: block;
          }
          
          /**
           * Correct the font size and margin on `h1` elements within `section` and
           * `article` contexts in Chrome, Firefox, and Safari.
           */
          
          h1 {
            font-size: 2em;
            margin: 0.67em 0;
          }
          
          /* Grouping content
             ========================================================================== */
          
          /**
           * 1. Add the correct box sizing in Firefox.
           * 2. Show the overflow in Edge and IE.
           */
          
          hr {
            box-sizing: content-box; /* 1 */
            height: 0; /* 1 */
            overflow: visible; /* 2 */
          }
          
          /**
           * 1. Correct the inheritance and scaling of font size in all browsers.
           * 2. Correct the odd `em` font sizing in all browsers.
           */
          
          pre {
            font-family: monospace, monospace; /* 1 */
            font-size: 1em; /* 2 */
          }
          
          /* Text-level semantics
             ========================================================================== */
          
          /**
           * Remove the gray background on active links in IE 10.
           */
          
          a {
            background-color: transparent;
          }
          
          /**
           * 1. Remove the bottom border in Chrome 57-
           * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
           */
          
          abbr[title] {
            border-bottom: none; /* 1 */
            text-decoration: underline; /* 2 */
            text-decoration: underline dotted; /* 2 */
          }
          
          /**
           * Add the correct font weight in Chrome, Edge, and Safari.
           */
          
          b,
          strong {
            font-weight: bolder;
          }
          
          /**
           * 1. Correct the inheritance and scaling of font size in all browsers.
           * 2. Correct the odd `em` font sizing in all browsers.
           */
          
          code,
          kbd,
          samp {
            font-family: monospace, monospace; /* 1 */
            font-size: 1em; /* 2 */
          }
          
          /**
           * Add the correct font size in all browsers.
           */
          
          small {
            font-size: 80%;
          }
          
          /**
           * Prevent `sub` and `sup` elements from affecting the line height in
           * all browsers.
           */
          
          sub,
          sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
          }
          
          sub {
            bottom: -0.25em;
          }
          
          sup {
            top: -0.5em;
          }
          
          /* Embedded content
             ========================================================================== */
          
          /**
           * Remove the border on images inside links in IE 10.
           */
          
          img {
            border-style: none;
          }
          
          /* Forms
             ========================================================================== */
          
          /**
           * 1. Change the font styles in all browsers.
           * 2. Remove the margin in Firefox and Safari.
           */
          
          button,
          input,
          optgroup,
          select,
          textarea {
            font-family: inherit; /* 1 */
            font-size: 100%; /* 1 */
            line-height: 1.15; /* 1 */
            margin: 0; /* 2 */
          }
          
          /**
           * Show the overflow in IE.
           * 1. Show the overflow in Edge.
           */
          
          button,
          input { /* 1 */
            overflow: visible;
          }
          
          /**
           * Remove the inheritance of text transform in Edge, Firefox, and IE.
           * 1. Remove the inheritance of text transform in Firefox.
           */
          
          button,
          select { /* 1 */
            text-transform: none;
          }
          
          /**
           * Correct the inability to style clickable types in iOS and Safari.
           */
          
          button,
          [type="button"],
          [type="reset"],
          [type="submit"] {
            -webkit-appearance: button;
          }
          
          /**
           * Remove the inner border and padding in Firefox.
           */
          
          button::-moz-focus-inner,
          [type="button"]::-moz-focus-inner,
          [type="reset"]::-moz-focus-inner,
          [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
          }
          
          /**
           * Restore the focus styles unset by the previous rule.
           */
          
          button:-moz-focusring,
          [type="button"]:-moz-focusring,
          [type="reset"]:-moz-focusring,
          [type="submit"]:-moz-focusring {
            outline: 1px dotted ButtonText;
          }
          
          /**
           * Correct the padding in Firefox.
           */
          
          fieldset {
            padding: 0.35em 0.75em 0.625em;
          }
          
          /**
           * 1. Correct the text wrapping in Edge and IE.
           * 2. Correct the color inheritance from `fieldset` elements in IE.
           * 3. Remove the padding so developers are not caught out when they zero out
           *    `fieldset` elements in all browsers.
           */
          
          legend {
            box-sizing: border-box; /* 1 */
            color: inherit; /* 2 */
            display: table; /* 1 */
            max-width: 100%; /* 1 */
            padding: 0; /* 3 */
            white-space: normal; /* 1 */
          }
          
          /**
           * Add the correct vertical alignment in Chrome, Firefox, and Opera.
           */
          
          progress {
            vertical-align: baseline;
          }
          
          /**
           * Remove the default vertical scrollbar in IE 10+.
           */
          
          textarea {
            overflow: auto;
          }
          
          /**
           * 1. Add the correct box sizing in IE 10.
           * 2. Remove the padding in IE 10.
           */
          
          [type="checkbox"],
          [type="radio"] {
            box-sizing: border-box; /* 1 */
            padding: 0; /* 2 */
          }
          
          /**
           * Correct the cursor style of increment and decrement buttons in Chrome.
           */
          
          [type="number"]::-webkit-inner-spin-button,
          [type="number"]::-webkit-outer-spin-button {
            height: auto;
          }
          
          /**
           * 1. Correct the odd appearance in Chrome and Safari.
           * 2. Correct the outline style in Safari.
           */
          
          [type="search"] {
            -webkit-appearance: textfield; /* 1 */
            outline-offset: -2px; /* 2 */
          }
          
          /**
           * Remove the inner padding in Chrome and Safari on macOS.
           */
          
          [type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
          }
          
          /**
           * 1. Correct the inability to style clickable types in iOS and Safari.
           * 2. Change font properties to `inherit` in Safari.
           */
          
          ::-webkit-file-upload-button {
            -webkit-appearance: button; /* 1 */
            font: inherit; /* 2 */
          }
          
          /* Interactive
             ========================================================================== */
          
          /*
           * Add the correct display in Edge, IE 10+, and Firefox.
           */
          
          details {
            display: block;
          }
          
          /*
           * Add the correct display in all browsers.
           */
          
          summary {
            display: list-item;
          }
          
          /* Misc
             ========================================================================== */
          
          /**
           * Add the correct display in IE 10+.
           */
          
          template {
            display: none;
          }
          
          /**
           * Add the correct display in IE 10.
           */
          
          [hidden] {
            display: none;
          }  
  /*# sourceMappingURL=style.css.map */