@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Bold-webfont.woff2") format("woff2"), url("Roboto-Bold-webfont.woff") format("woff"), url("Roboto-Bold-webfont.ttf") format("truetype"), url("Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}
@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@-webkit-keyframes spinner {
  0% {
    opacity: 0.9;
    visibility: visible;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner {
  0% {
    opacity: 0.9;
    visibility: visible;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(50px);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(50px);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  width: auto;
}
body h2 {
  padding-top: 25px;
  padding-left: 15px;
  font-family: "Shrikhand-Regular";
}
body h3 {
  font-family: "Shrikhand-Regular";
}
body h4 {
  font-family: "robotobold";
  font-size: 16px;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 2px;
}

#page {
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
  font-family: "robotobold";
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 5px;
}
header .fa-arrow-left {
  position: absolute;
  left: 0;
  top: 24px;
  font-size: 20px;
  color: #353535;
  padding-left: 20px;
}
header .logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
header .logo__image {
  width: 164px;
}

.section__imagedefond {
  width: 100%;
  height: 250px;
}
.section__imagedefond .image__a-la-francaise {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -36px;
  width: 100%;
  position: relative;
}
#menu .menu__titre {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.entrees__prix, .plats__prix, .desserts__prix {
  margin-top: 24px;
  width: 51px;
  height: 60px;
}

.entrees__prix:hover {
  -webkit-animation: slide-left 0.6s ease-in-out both;
}

.entrees {
  border-radius: 25px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.entrees #case-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.entrees #case-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.entrees #case-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.entrees .controlopacity {
  -webkit-animation: opacity 1s both;
          animation: opacity 1s both;
}
.entrees .entrees__titre {
  color: #535353;
  font-family: "robotoregular";
  font-size: 20px;
}
.entrees .border1 {
  border-bottom: 4px solid #99E2D0;
}
.entrees .entrees__textparagrapheetprix {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 4px lightgrey;
  border-radius: 20px;
  margin-bottom: 15px;
  height: 70px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.entrees .textetprix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}
.entrees .textedumenu {
  white-space: nowrap;
  overflow: hidden;
}
.entrees .textedumenu .description {
  margin: 0px;
  padding-left: 10px;
  font-family: "robotoregular";
  font-size: 13px;
}
.entrees .prixmenu {
  padding-right: 11px;
  padding-top: 30px;
}
.entrees .prixmenu .prix {
  font-family: "robotobold";
}
.entrees .validation:hover .prixmenu {
  padding-right: 70px;
  transition: 0.5s ease;
}
.entrees .validation .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}
.entrees .validation:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  transform-origin: right;
}
.entrees .validation .validation__box .fa-circle-check {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}
.entrees .hiddencard .denomination {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entrees .fa-circle-check {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.entrees .fa-circle-check::before {
  content: "\f058";
}
.entrees .entrees__texttartare {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entrees h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.plats {
  border-radius: 25px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.plats #case-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.plats #case-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.plats #case-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.plats .controlopacity {
  -webkit-animation: opacity 1s both;
          animation: opacity 1s both;
}
.plats .plats__textparagrapheetprix {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 4px lightgrey;
  border-radius: 20px;
  margin-bottom: 15px;
  height: 70px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.plats .textetprix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}
.plats .textetprix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}
.plats .textedumenu {
  white-space: nowrap;
  overflow: hidden;
}
.plats .textedumenu .description {
  margin: 0px;
  padding-left: 10px;
  font-family: "robotoregular";
  font-size: 13px;
}
.plats .prixmenu {
  padding-right: 11px;
  padding-top: 30px;
}
.plats .prixmenu .prix {
  font-family: "robotobold";
}
.plats .plats__prix:hover {
  -webkit-animation: slide-left 0.6s ease-in-out both;
}
.plats .border2 {
  border-bottom: 4px solid #99E2D0;
}
.plats .plats__titre2 {
  color: #535353;
  font-family: "robotoregular";
  font-size: 20px;
}
.plats .validation:hover .prixmenu {
  padding-right: 70px;
  transition: 0.5s ease;
}
.plats .validation .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}
.plats .validation:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  transform-origin: right;
}
.plats .validation .validation__box .fa-circle-check {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}
.plats .hiddencard .denomination {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plats .fa-circle-check {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.plats .fa-circle-check::before {
  content: "\f058";
}

.desserts {
  border-radius: 25px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.desserts #case-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.desserts #case-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.desserts #case-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.desserts .controlopacity {
  -webkit-animation: opacity 1s both;
          animation: opacity 1s both;
}
.desserts .desserts__textparagrapheetprix {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 4px lightgrey;
  border-radius: 20px;
  margin-bottom: 15px;
  height: 70px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.desserts .textetprix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}
.desserts .textedumenu {
  white-space: nowrap;
  overflow: hidden;
}
.desserts .textedumenu .description {
  margin: 0px;
  padding-left: 10px;
  font-family: "robotoregular";
  font-size: 13px;
}
.desserts .prixmenu {
  padding-right: 11px;
  padding-top: 30px;
}
.desserts .prixmenu .prix {
  font-family: "robotobold";
}
.desserts .desserts__prix:hover {
  -webkit-animation: slide-left 0.6s ease-in-out both;
}
.desserts .border3 {
  border-bottom: 4px solid #99E2D0;
}
.desserts .desserts__titre3 {
  color: #535353;
  font-family: "robotoregular";
  font-size: 20px;
}
.desserts .validation:hover .prixmenu {
  padding-right: 70px;
  transition: 0.5s ease;
}
.desserts .validation .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}
.desserts .validation:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  transform-origin: right;
}
.desserts .validation .validation__box .fa-circle-check {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}
.desserts .hiddencard .denomination {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.desserts .fa-circle-check {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.desserts .fa-circle-check::before {
  content: "\f058";
}

#commander {
  display: flex;
  justify-content: center;
  height: 115px;
}
#commander .commander__phrase {
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "robotobold";
  display: flex;
  padding: 0px 55px 0px 60px;
  border-radius: 25px;
  color: #f7ecfa;
}
#commander .commander__phrase:hover {
  opacity: 0.9;
}

footer {
  padding-left: 20px;
  height: 223px;
  background-color: #353535;
}
footer .hyperlien__proposer {
  color: #d8d8d8;
}
footer .hyperlien__devenir {
  color: #d8d8d8;
}
footer .hyperlien__mention {
  color: #d8d8d8;
}
footer .hyperlien__contact {
  color: #d8d8d8;
}
footer .footer__logo {
  font-family: "Shrikhand-Regular";
  color: #d5d5d5;
  padding-top: 30px;
  font-size: 20px;
  margin: 0px;
}
footer .footer_ul {
  color: #d5d5d5;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  padding-left: 0px;
}
footer .fa-utensils {
  font-size: 16px;
  padding-right: 9px;
}
footer .fa-handshake-angle {
  padding-right: 4px;
  font-size: 16px;
}
footer li {
  padding-bottom: 7px;
}

.checkbox-like {
  font-size: 30px;
  padding-right: 20px;
  padding-top: 30px;
  cursor: pointer;
}

.checkbox-like.checkbox-like--position {
  position: initial;
  margin-top: 20px;
}

.checkbox-like input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.checkbox-like input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type=checkbox], .checkbox-like .checked {
  display: none;
  -webkit-animation: like 1s;
          animation: like 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media only screen and (min-width: 769px) {
  #page {
    max-width: 2560px;
    width: 100%;
    height: 100%;
  }

  .menu__sanstitre {
    display: flex;
    justify-content: space-between;
  }
  .menu__sanstitre .entrees, .menu__sanstitre .plats, .menu__sanstitre .desserts {
    width: 30%;
  }
  .menu__sanstitre .entrees, .menu__sanstitre .plats {
    padding-right: 0px;
  }
}
/* Sections
         ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}/*# sourceMappingURL=menu-a-la-francaise.css.map */